<div class="flex flex-col items-center justify-center">
  <div class="hero" style="min-height: calc(100vh - 100px);">
    <%= image_tag "sova_recon_bolt.png" %>
    <div class="hero-overlay bg-opacity-30"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-xl">
        <h1 class="mb-5 text-7xl font-bold text-white">V-TACTICS</h1>
        <p class="mb-14 text-white">
          VALORANTプレイヤーにとって、<br>
          初心者にはわかりづらく、慣れたプレイヤーでも決まった行動をしがちな<br>
          「定点」をすぐに引き出せるサービス。
        </p>
        <div class="flex items-center justify-center gap-4">
          <%= link_to "まずは、色んな「定点」を見てみる！", root_path, class: "btn bg-valorant-color text-white border-valorant-color" %>
          <% if user_signed_in? %>
            <%= link_to "お気に入り登録した「定点」を見る（マイページへ）", favorites_technique_path(current_user.id), class: "btn btn-info" %>
          <% else %>
            <%= link_to "新規登録して「定点」を追加する", new_user_registration_path, class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll_down" id="type02">
    <a href="#">Scroll</a>
  </div>
  <p class="text-gray-500 animate-bounce"><i class="fa-solid fa-angles-down"></i></p>
</div>

<div class="p-24 relative xl:mr-0 lg:mr-5 mr-0">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div class="w-full justify-center items-center xl:gap-12 gap-10 grid grid-cols-1">

      <div class="w-full flex-col justify-center items-center gap-10 inline-flex">
        <div class="w-full flex-col justify-center gap-8 flex">

          <div class="flex-col justify-start items-center gap-4 flex">
            <h6 class="text-gray-400 text-base font-normal leading-relaxed">V-TACTICSとは</h6>
            <div class="w-full flex-col justify-center items-center gap-3 flex">
              <h2 class="text-red-500 text-4xl font-bold font-manrope leading-normal text-center">
                「あの定点、どうだったっけ…。」を、<br>すぐに解決するサービス<br>「V-TACTICS」
              </h2>
              <p class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center">
                「V-TACTICS」は、YouTubeやX（旧Twitter）にあるVALORANTのテクニックを簡単に・スピーディーに一括検索できるサービスです。
              </p>
            </div>
          </div>

          <div class="w-full flex-col justify-center items-center gap-6 flex">

            <div class="w-full justify-start items-center gap-8 grid md:grid-cols-2 grid-cols-1">
              <div class="w-full h-full p-3.5 rounded-xl border border-gray-200 hover:border-gray-400 transition-all duration-700 ease-in-out flex-col justify-start items-start gap-2.5 inline-flex">
                <h4 class="text-gray-900 text-2xl font-bold font-manrope leading-9">①普段使っていないキャラクタースキルの使い方が分からない</h4>
                <p class="text-gray-500 text-base font-normal leading-relaxed">
                  どうしても使わないといけないキャラクター（義務ピックなど）で、操作することになった自分のキャラクターを使い慣れていない
                </p>
              </div>
              <div class="w-full h-full p-3.5 rounded-xl border border-gray-200 hover:border-gray-400 transition-all duration-700 ease-in-out flex-col justify-start items-start gap-2.5 inline-flex">
                <h4 class="text-gray-900 text-2xl font-bold font-manrope leading-9">②定点を覚えきれない</h4>
                <p class="text-gray-500 text-base font-normal leading-relaxed">
                  定点（効果的なスキルを発揮できる場所）は、キャラクターごと・マップごと・攻守ごとに存在し、すべてを瞬間的に覚えるのは難しい
                </p>
              </div>
            </div>

            <div class="w-full h-full justify-start items-center gap-8 grid md:grid-cols-2 grid-cols-1">
              <div class="w-full p-3.5 rounded-xl border border-gray-200 hover:border-gray-400 transition-all duration-700 ease-in-out flex-col justify-start items-start gap-2.5 inline-flex">
                <h4 class="text-gray-900 text-2xl font-bold font-manrope leading-9">③そういったサイトが沢山あるが、動画ですぐ知りたい！</h4>
                <p class="text-gray-500 text-base font-normal leading-relaxed">
                  ローディング画面で待っている時に検索
                </p>
              </div>
            </div>
          それらを解決できるのが「V-TACTICS」です！

          ぜひ、知りたいテクニックを検索してみてください！
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
