<div class="m-20">
<div class="text-center text-9xl font-bold">工事中・・・。</div>
<div class="text-center text-3xl mt-20">ご迷惑おかけして申し訳ありません。ただいま修正中です。</div>
<div class="text-center text-3xl">サービス再開まで少々お待ち下さい。</div>
</div>

