<% @techniques.each do |technique| %>
  <li class="flex w-full items-center text-sm py-2 px-3 hover:bg-amber-100" role="option" data-autocomplete-value="<%= technique.id %>" data-autocomplete-label="<%= technique.title %>">
    <%= technique.title %>
  </li>
<% end %>