@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Unbounded:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  background: #ccc;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #FF4655;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet:hover {
  background: #FF4655;
  opacity: 0.9;
}
